---
const { title } = Astro.props;
---

<div class="title-wrapper">
  <h1>{title}</h1>
</div>

<style>
  .title-wrapper {
    padding: 0.3rem;
    background-color: #252327;
    display: flex;
    justify-content: center;
  }
  </style>